body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(to top left, powderblue, pink);
}

.title{
    text-align: center;
}