* {
  margin: 0;
  font-family: sans-serif;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.popap {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 300px;
  height: 400px;
  background: #fff;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: default;
  border-radius: 5px;
}

.popap-head {
  position: relative;
  height: 25px;
}

.popap-head .close {
  position: absolute;
  height: 20px;
  padding: 0 2px;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #ccc;
  cursor: pointer;
}

.popap-head .close:hover {
  border-color: #333;
}

.popap-main {
  padding: 20px;
  box-sizing: border-box;
}

.popap-form {
  margin-bottom: 20px;
}

.popap-main label {
  display: block;
  margin-bottom: 10px;
}

.popap-main label span {
  color: hotpink;
  font: 14px sans-serif;
  display: block;
  text-transform: uppercase;
}

.popap-main label input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.popap-btn {
  text-align: right;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.add-user {
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  color: hotpink;
  font-size: 50px;
  padding: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.btn:hover {
  border-color: #333;
}

.back {
  height: 100vh;
  background: rgb(68, 1, 63);
  background: linear-gradient(
    90deg,
    rgba(68, 1, 63, 0.8) 0%,
    rgba(97, 9, 121, 0.84) 25%,
    rgba(255, 0, 202, 0.76) 100%
  );
}

.buttonX {
  border: 1px solid white !important;
}

.error {
  font-size: 16px;
}
